apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: osama251/journalsystem-frontend:latest
          imagePullPolicy: Always     # so new pushes to :latest are picked up
          ports:
            - containerPort: 5173